
<!doctype html>

<html lang="en-us">

<head>
  <title>{{pageTitle}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A DevOps practitioner with an appreciation for robust architectures." />
  <meta name="author" content="Steve Miller" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <script src="https://kit.fontawesome.com/b76b73e8e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" /></head>

<body>
  <div id="container">
    <header>
      <h1>
                <a href="https://present.r15cookie.com">R15Cookie Presentations</a>
            </h1>

      <ul id="social-media">
        
        
        
        <li><a href="https://twitter.com/scubbasteve25"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a></li>
         
        <li><a href="https://www.linkedin.com/in/steve-miller-9936632"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
         
        <li><a href="https://github.com/ssmiller25"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a></li>
         
        <li><a href="https://gitlab.com/ssmiller25"><i class="fab fa-gitlab fa-lg" aria-hidden="true"></i></a></li>
          
      </ul>
      
      <p><em>A DevOps practitioner with an appreciation for robust architectures.</em></p>
      
    </header>

    
<nav>
    <ul>
        
        <li>
            <a class="" href="https://www.r15cookie.com">
                <i class="fa-li fa  fa-lg"></i><span>Main Site</span>
            </a>
        </li>
        
        <li>
            <a class="" href="http://present.r15cookie.com">
                <i class="fa-li fa  fa-lg"></i><span>Presentations</span>
            </a>
        </li>
        
       
        </li>
        
    </ul>
</nav>

<ul>
  {{#files}}
  <li>
    <a href="{{filePath}}" title="{{title}}">
      {{#title}}{{.}} ({{filePath}}){{/title}}{{^title}}{{filePath}}{{/title}}
    </a>
  </li>
  {{/files}}
</ul>

</div>

</body>

</html>